.image-gallery {
	list-style-type: none;
	margin-top: 20px;
	scrollbar-width: none;
	overflow-x: hidden;
	padding: 0;
}

.single-home-view {
	margin-top: 12vh;
	padding: 0 5vw;
}

.image-gallery > li {
	display: inline-block;
	margin-bottom: 3vh;
}

.image-gallery > li img {
	max-height: clamp(200px, 40vh, 500px);
	max-width: 85vw;
	border-radius: 1rem;
	margin-right: 20px;
	align-items: stretch;
}

.image-with-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 0.5rem;
}

.image-with-link a {
	font-size: 22px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 0.5px;
	font-weight: bold;
	text-decoration: none;
	transition: text-decoration-color 0.3s ease-in-out;
	text-decoration-color: transparent;
}

.image-with-link a:hover {
	text-underline-offset: 0.3rem;
	text-decoration: underline;
}

@media (hover: none) {
	.image-gallery-helper {
		display: none;
	}
}

.image-gallery::-webkit-scrollbar {
	display: none;
}

@media screen and (max-width: 700px) {
	/* .image-gallery > li img {
		max-height: clamp(200px, 25vh, 500px);
	} */

	.image-with-link a {
		font-size: 18px;
	}
}
